.form{
    width: 250px;
    height: 340px;
    background: linear-gradient(to top, rgba(192,192,192,0.3)50%,rgba(192,192,192,0.3)50%);
    position: absolute;
    top: 120px;
    left: 910px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}



.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    font-size: 22px;
    background-color:#6E85B7 ;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}



.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #243A73 ;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}



.form input:focus{
    outline: none;
}



::placeholder{
    color: #fff;
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background:#6E85B7 ;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: white;
  }
